<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

    <stf-header
        fab-icon="{{ vm.selectedTab == 1 ? 'icon-content-save' : 'icon-magnify' }}" 
        fab-text="{{ 'PROCESSOS.PESQUISA-AVANCADA.' + (vm.selectedTab == 1 ? 'SALVAR-PESQUISA' : 'BUSCAR') | translate }}">

    </stf-header>

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Nova Petição</div>
        <div class="pb-16">Informe a classe, as preferências, os envolvidos e os documentos para enviar a petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form name="basicForm" class="md-inline-form" novalidate>

                    <div class="form-title">Classificação do Processo</div>

                    <div layout="column">
                        <md-input-container flex>
                            <label>Classe</label>
                            <md-select ng-model="vm.classe" id="idClassePeticionavel">
                                <md-option ng-repeat="classe in vm.classes" value="{{classe.sigla}}">
                                    {{classe.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="form-title">Partes</div>
                    <div layout="column" layout-gt-sm="row" class="layout-gt-sm-row layout-column">
                        
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">
                            <label>Informe o nome da parte do polo ativo</label>
                            <input type="text" name="txtPartePoloAtivo" id="txtPartePoloAtivo" ng-model="vm.partePoloAtivo" class="ng-pristine" aria-label="" aria-invalid="true" ng-keydown="$event.which === 13 && vm.adicionarPartePoloAtivo()" ng-click= "$event.stopPropagation()">
                             
                        </md-input-container>
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">    
                            <label>Informe o nome da parte do polo passivo</label>
                            <input type="text" name="txtPartePoloPassivo" id="txtPartePoloPassivo" ng-model="vm.partePoloPassivo" class="ng-pristine ng-empty ng-invalid ng-invalid-required 
                            ng-touched" aria-label="" aria-invalid="true"  ng-keydown="$event.which === 13 && vm.adicionarPartePoloPassivo()" ng-click= "$event.stopPropagation()">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="vm.partesPoloAtivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Ativo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in vm.partesPoloAtivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" id="lnkRemoverEnvolvidoPoloAtivo-{{$index}}" ng-click="vm.removerPartePoloAtivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="vm.partesPoloPassivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Passivo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in vm.partesPoloPassivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" id="lnkRemoverEnvolvidoPoloPassivo-{{$index}}" ng-click="vm.removerPartePoloPassivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <div nv-file-drop="" uploader="vm.uploader">
                            <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="force-pointer" data-ng-class="vm.uploader.isHTML5 ? 'my-drop-zone' : 'my-drop-zone-single'" onclick="$('#idSelectFilePecas').click();">
                            </div>
                        </div>
                        <input  id="idSelectFilePecas" type="file" name="file" nv-file-select="" uploader="vm.uploader" multiple  ng-class="vm.uploader.isHTML5 ? 'invisible' : ''"/><br/>
                    </div>
                    <div layout="column">
                        <md-input-container class="simple-table-container md-whiteframe-4dp" ng-show="vm.anexos.length > 0">
		                    <div class="table-title">Anexos</div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple" ms-responsive-table>
                                    <thead>
                                        <tr>
                                            <th style="text-align:center;">Título</th>
                                            <th style="text-align:right;" ng-show="vm.uploader.isHTML5">Tamanho</th>
                                            <th style="text-align:center;" ng-show="vm.uploader.isHTML5">Progresso</th>
                                            <th style="text-align:left;">Tipo de Peça</th>
                                            <th style="text-align:center;">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="anexo in vm.anexos">
                                            <td style="text-align:left;" data-ng-click="vm.visualizar(anexo)" class="force-pointer"><strong>{{ anexo.arquivo.file.name }}</strong></td>
                                            <td style="text-align:right;" ng-show="vm.uploader.isHTML5" nowrap>{{ anexo.arquivo.file.size/1024/1024|number:2 }} MB</td>
                                            <td class="text-center"class="progress-row" ng-show="vm.uploader.isHTML5" ng-class="{'upload-finished': anexo.isUploadConcluido}">
                                                <div class="progress" style="margin-bottom: 0;">
                                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': anexo.arquivo.progress + '%' }"></div>
                                                </div>
                                            </td>
                                            <td>
                                                <select required id="tipoAnexoId-{{$index}}" ng-model="anexo.tipo.id" ui-select2="vm.configurarSelect2({{$index}})">
                                                    <option value="">Selecione</option>
                                                    <option data-ng-repeat="tipoAnexo in vm.tiposAnexos" value="{{tipoAnexo.id}}">{{tipoAnexo.descricao}}</option>
                                                </select>
                                            </td>
                                            <td nowrap  class="text-center">
                                                <a title="Remover Anexo" ng-click="vm.removerAnexo(anexo)" data-placement="top" style="cursor:pointer;">
                                                    <i class="icon icon-close s40"></i>
                                                </a>
                                                <a title="Visualizar Anexo" ng-click="vm.visualizarAnexo(anexo)" data-placement="top" style="cursor:pointer;">
                                                    <i class="icon icon-file-find s40"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end center">
                        <div>
                            <button type="button" id="btnRemoverAnexos" class="md-raised md-warn md-button md-default-theme md-ink-ripple" ng-click="vm.limparAnexos()" ng-show="vm.anexos.length > 0">
                                <span class="glyphicon glyphicon-trash"></span> Remover Todos os Anexos
                            </button>
                        </div>
                    </div>
                    <md-button type="submit" id="btnPeticionar" ng-disabled="!vm.isFormValido()" class="md-raised md-primary md-button md-default-theme md-ink-ripple" 
                        aria-label="Peticionar" ng-click="vm.peticionar()">
                        Peticionar
                    </md-button>
                </form>
            </div>
        </div>
    </div>
</div>