<div id="forms" class="page-layout simple fullwidth doc-page" layout="column">

	<stf-header path="vm.path"></stf-header>

    <!-- CONTENT -->
    <div class="content" layout="column">

        <div class="md-title mt-10">Nova Petição</div>
        <div class="pb-16">Informe a classe, as preferências, os envolvidos e os documentos para enviar a petição</div>

        <div layout="row">

            <!-- BASIC FORM -->
            <div class="form-wrapper md-whiteframe-1dp" flex="100">

                <form class="md-inline-form" novalidate>

                    <div class="form-title">Classificação do Processo</div>

                    <div layout="row">
                        <md-input-container flex>
                            <label>Classe</label>
                            <md-select ng-model="vm.classe" id="idClassePeticionavel" ng-change="vm.classeSelecionada()">
                                <md-option ng-repeat="classe in vm.classes" ng-value="classe">
                                    {{classe.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
						<md-input-container flex>
                            <label>Preferências</label>
                            <md-select multiple ng-model="vm.cmd.preferencias" id="preferencias">
                                <md-option ng-repeat="preferencia in vm.preferencias" value="{{preferencia.id}}">
                                    {{preferencia.nome}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div class="form-title">Partes</div>
                    <div layout="column" layout-gt-sm="row" class="layout-gt-sm-row layout-column">
                        
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">
                            <label>Informe o nome da parte do polo ativo</label>
                            <input type="text" name="txtPartePoloAtivo" id="txtPartePoloAtivo" ng-model="vm.partePoloAtivo" class="ng-pristine" aria-label="" aria-invalid="true" ng-keydown="$event.which === 13 && vm.adicionarPartePoloAtivo()" ng-click= "$event.stopPropagation()">
                             
                        </md-input-container>
                        <md-input-container flex="" class="md-icon-float flex md-default-theme md-input-invalid">    
                            <label>Informe o nome da parte do polo passivo</label>
                            <input type="text" name="txtPartePoloPassivo" id="txtPartePoloPassivo" ng-model="vm.partePoloPassivo" class="ng-pristine ng-empty ng-invalid ng-invalid-required 
                            ng-touched" aria-label="" aria-invalid="true"  ng-keydown="$event.which === 13 && vm.adicionarPartePoloPassivo()" ng-click= "$event.stopPropagation()">
                        </md-input-container>
                    </div>
                    <div layout="row">
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="vm.cmd.poloAtivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Ativo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in vm.cmd.poloAtivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" id="lnkRemoverEnvolvidoPoloAtivo-{{$index}}" ng-click="vm.removerPartePoloAtivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="50" class="md-icon-float flex md-default-theme md-input-invalid" ng-show="vm.cmd.poloPassivo.length > 0">
                            <div class="simple-table-container md-whiteframe-4dp">
                                <div class="ms-responsive-table-wrapper">
                                    <table class="simple" ms-responsive-table>
                                        <thead>
                                            <tr>
                                                <th>Polo Passivo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="parte in vm.cmd.poloPassivo">
											    <td>{{parte}}</td>
											    <td align="right">
                                                    <span class="hint-text small">
                                                        <a href="#" id="lnkRemoverEnvolvidoPoloPassivo-{{$index}}" ng-click="vm.removerPartePoloPassivo(parte)">Remover</a>
                                                    </span>
                                                </td>
										    </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div layout="row">
                    	<md-input-container flex="50">
                            <label>Sigilo *</label>
                            <md-select ng-model="vm.cmd.sigilo" id="sigilo"">
                                <md-option ng-repeat="sigilo in vm.sigilos" ng-value="sigilo.nome">
                                    {{sigilo.descricao}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="column">
                        <div nv-file-drop="" uploader="vm.uploader">
                            <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="force-pointer" data-ng-class="vm.uploader.isHTML5 ? 'my-drop-zone' : 'my-drop-zone-single'" onclick="$('#idSelectFilePecas').click();">
                            </div>
                        </div>
                        <input  id="idSelectFilePecas" type="file" name="file" nv-file-select="" uploader="vm.uploader" multiple  ng-class="vm.uploader.isHTML5 ? 'invisible' : ''"/><br/>
                    </div>
                    <div layout="column">
                        <div class="simple-table-container md-whiteframe-4dp" ng-show="vm.anexos.length > 0">
		                    <div class="table-title">Anexos</div>
                            <div class="ms-responsive-table-wrapper">
                                <table class="simple" ms-responsive-table>
                                    <col>
                                    <col>
                                    <col>
                                    <col style="width: 310px;">
                                    <col>
                                    <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th ng-show="vm.uploader.isHTML5">Tamanho</th>
                                            <th ng-show="vm.uploader.isHTML5">Progresso</th>
                                            <th>Tipo de Anexo</th>
                                            <th>Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="anexo in vm.anexos">
                                            <td data-ng-click="vm.visualizar(anexo)" class="force-pointer"><strong>{{ anexo.arquivo.file.name }}</strong></td>
                                            <td ng-show="vm.uploader.isHTML5">{{ anexo.arquivo.file.size/1024/1024|number:2 }} MB</td>
                                            <td ng-show="vm.uploader.isHTML5" ng-class="{'upload-finished': anexo.isUploadConcluido}">
                                                <md-progress-linear ng-show="anexo.arquivo.progress" md-mode="determinate" value="{{anexo.arquivo.progress}}"></md-progress-linear>
                                            </td>
                                            <td>
                                                <div layout="row" flex="grow">
							                        <md-input-container flex="grow">
							                        	<md-autocomplete md-items="tipoAnexo in vm.tiposAnexo | filter:buscaTipoAnexo"
							                        		md-item-text="tipoAnexo.nome"
							                        		md-selected-item="anexo.tipo"
							                        		md-search-text="buscaTipoAnexo"
							                        		md-selected-item-change="vm.anexosMudaram()"
							                        		md-min-length="0">
							                        		<md-item-template>
													        	{{tipoAnexo.nome}}
													        </md-item-template>
							                        	</md-autocomplete>
							                        </md-input-container>
						                        </div>
                                            </td>
                                            <td>
                                                <a title="Remover Anexo" ng-click="vm.removerAnexo(anexo)" data-placement="top" style="cursor:pointer;">
                                                    <i class="icon icon-close s30"></i>
                                                </a>
                                                <a title="Visualizar Anexo" ng-click="vm.visualizarAnexo(anexo)" data-placement="top" style="cursor:pointer;">
                                                    <i class="icon icon-file-find s30"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="end center">
                        <div>
                            <button type="button" id="btnRemoverAnexos" class="md-raised md-warn md-button md-default-theme md-ink-ripple" ng-click="vm.limparAnexos()" ng-show="vm.anexos.length > 0">
                                <span class="glyphicon glyphicon-trash"></span> Remover Todos os Anexos
                            </button>
                        </div>
                    </div>
                    <md-button type="button" id="peticionar" command="vm.cmd" class="md-raised md-accent"
                        aria-label="Peticionar" ng-click="vm.peticionar()">
                        Peticionar
                    </md-button>
                </form>
            </div>
        </div>
    </div>
</div>